.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}
.wrapper {
    position: relative;
  ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: -1;
    transform: rotate(45deg);
  }
  min-height: rem(400px);
  /* background-image: linear-gradient(
    -60deg,
    var(--mantine-color-gray-0) 0%,
    var(--mantine-color-gray-2) 100%
  ); */
  /* border-radius: var(--mantine-radius-md); */
  padding: calc(var(--mantine-spacing-xl) * 2.5);

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.title {
  margin-bottom: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.item {
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}
