.title {
  font-size: rem(30);
  font-weight: 700;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xl));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
